.appportrait_PortraitImage_2IYf7.appportrait_Landscape_3VOR2 {
	background-image: url("/themes_custom/Cartridge%20Theme/cartridge/default/cartridgeXL.png")!important;
}

.appportrait_PortraitImage_2IYf7.appportrait_Capsule_13w3S.appportrait_CapsuleVisible_3QIfJ {
	background-image: url("/themes_custom/Cartridge%20Theme/cartridge/default/cartridge.png")!important;
}

.basicgamecarousel_BasicGameCarouselItem_3YYQ9 .basicgamecarousel_TextBoxCarouselContents_3bvCH {
	background-image: url("/themes_custom/Cartridge%20Theme/cartridge/default/browse.png")!important;
}