.gamepadhomerecentgames_RecentGamesBackgroundContainer_QNkOt, .gamepadhomerecentgames_RecentGamesBackgroundImages_30D-8 {
	display: none;
}
.gamepadhome_TabbedContent_cE1Sa {
	display: none;
	user-select: none;
}
.basicgamecarousel_BasicGameCarousel_3MdH5 {
	height: 600px!important;
	margin-top: 100px;
	bottom: 0;
}
.basicgamecarousel_BasicGameCarouselItem_3YYQ9 .basicgamecarousel_TextBoxCarouselContents_3bvCH {
	background: transparent;
	background-repeat: no-repeat;
	background-size: 118px;
	background-position-x: 50%;
	background-position-y: 50%;
	height: 100px;
	color: transparent;
}
.BasicUI .libraryassetimage_GreyBackground_2E7G8 {
	background-color: #000;
}
.quickaccessmenu_Title_34nl5 {
	box-shadow: none;
}
.gamepadhomerecentgames_RecentGamesHeader_35iRe {
	display: none!important;
}
.gamepadhomerecentgames_RecentGamesBackgroundImages_30D-8 .gamepadhomerecentgames_RecentGamesBackground_1SRox {
	display: none;
	user-select: none;
}
.appportrait_PortraitImage_2IYf7.appportrait_Capsule_13w3S.appportrait_CapsuleVisible_3QIfJ>.libraryassetimage_Visibility_3d_bT.libraryassetimage_Visible_yDr03 {
	top: 65px;
	width: 91px;
	left: 21px;
	height: 82px;
	border-radius: 1px;
}
.appportrait_PortraitImage_2IYf7.appportrait_Capsule_13w3S.appportrait_CapsuleVisible_3QIfJ {
	background: transparent;
	background-repeat: no-repeat;
	background-size: 133px;
	background-position-x: 50%;
	background-position-y: 50%;
	height: 100px;
}
.BasicUI .appportrait_LibraryItemBox_WYgDg.Focusable:focus {
	outline: none;
	outline-offset: 0;
	animation: none;
}
.BasicUI .appportrait_LibraryItemBox_WYgDg::after {
	display:none;
}
.appportrait_PortraitImage_2IYf7.appportrait_Landscape_3VOR2>.libraryassetimage_Visibility_3d_bT.libraryassetimage_Visible_yDr03 {
	top: 55px;
	width: 245px;
	left: 28px;
	height: 107px;
	border-radius: 2px;
}
.appportrait_LibraryItemBox_WYgDg .appportrait_SteamDeckCompatIcon_3kDT9, .appportrait_LibraryItemBox_WYgDg .appportrait_ControllerSupportIcon_1TaKf {
	display: none;
}
.BasicUI .appportrait_LibraryItemBox_WYgDg.Focusable:focus {
	box-shadow: none;
}
.BasicUI .appportrait_LibraryItemBox_WYgDg.Focusable {
	box-shadow: none;
}
.BasicUI .appportrait_LibraryItemBox_WYgDg.Focusable:focus {
	transform: scale(1.1);
	animation: bounce 5s ease infinite;
}
.BasicUI .appportrait_LibraryItemBox_WYgDg.Focusable {
	transform: scale(0.9);
}
.appportrait_PortraitImage_2IYf7.appportrait_Landscape_3VOR2 {
	background: transparent;
	background-repeat: no-repeat;
	background-size: 300px;
	background-position-x: 0%;
	background-position-y: 50%;
	height: 100px;
}
.BasicUI .appportrait_HoversEnabled_54PuC .appportrait_LibraryItemBox_WYgDg.appportrait_Landscape_3VOR2:hover {
	box-shadow: none;
}
.BasicUI .appportrait_HoversEnabled_54PuC .appportrait_LibraryItemBox_WYgDg.appportrait_Landscape_3VOR2 {
	box-shadow: none;
}

@keyframes bounce {
    0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}