.gamepadhome_RecentSection_39tNv {
	background-image: repeating-linear-gradient(180deg, #000, #000 2px, #111 2px, #111 4px);
	background-size: 15%;
}
.gamepadtabbedpage_TabContentsScroll_1X4dt {
	background-image: repeating-linear-gradient(180deg, #000, #000 2px, #111 2px, #111 4px);
	background-size: 15%;
}