.gamepadhome_RecentSection_39tNv {
	background-image: repeating-linear-gradient(180deg, #111, #111 2px, #222 2px, #222 4px);
	background-size: 15%;
}
.gamepadtabbedpage_TabContentsScroll_1X4dt {
	background-image: repeating-linear-gradient(180deg, #111, #111 2px, #222 2px, #222 4px);
	background-size: 15%;
}