.gamepadhome_RecentSection_39tNv {
	background-image: repeating-linear-gradient(180deg, #063804, #063804 2px, #086b04 2px, #086b04 4px);
	background-size: 15%;
}
.gamepadtabbedpage_TabContentsScroll_1X4dt {
	background-image: repeating-linear-gradient(180deg, #063804, #063804 2px, #086b04 2px, #086b04 4px);
	background-size: 15%;
}