.gamepadhome_RecentSection_39tNv {
	background-image: repeating-linear-gradient(180deg, #ccc, #ccc 2px, #dbdbdb 2px, #dbdbdb 4px);
	background-size: 15%;
}
.gamepadtabbedpage_TabContentsScroll_1X4dt {
	background-image: repeating-linear-gradient(180deg, #ccc, #ccc 2px, #dbdbdb 2px, #dbdbdb 4px);
	background-size: 15%;
}